[user]
  name = kandaharu
  email = yuugengaisha@gmail.com
[color]
  ui = auto
[alias]
  decolog = log --graph --decorate --branches --oneline
  prettylog = log --graph --decorate --branches --pretty=short
  co = checkout
  reb = rebase
  st = status
[core]
  editor = 'vim' -c 'set fileencoding=utf-8'
