[user]
  name = kandaharu
  email = yuugengaisha@gmail.com
[color]
  ui = auto
[alias]
  plog = log --graph --decorate=short --date=iso --pretty
  pslog = log --graph --decorate=short --date=iso --pretty --stat=150,150
  pplog = log --graph --decorate=short --date=iso --pretty -p
  dlog = log --graph --decorate=short --date=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  dslog = log --graph --decorate=short --date=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s' --stat=150,150
  dplog = log --graph --decorate=short --date=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s' -p
  co = checkout
  ci = commit
  ciempty = commit --allow-empty
  reb = rebase
  st = status
  s = show
  ss = show --stat=150,150
  sshow = show --stat=150,150
  df = diff
  dfs = diff --stat=150,150
  dfc = diff --cached
  dfbc = diff -b --cached
  dfb = diff -b
  dfmaster = diff remotes/origin/master..remotes/origin/release
  dfmasters = diff --stat=150,150 remotes/origin/master..remotes/origin/release
  dfrelease = diff remotes/origin/release..release
  dfreleases = diff --stat=150,150 remotes/origin/release..release
  br = branch
  fo = fetch origin -p
  fop = fetch origin -p
  fixup = commit --amend --no-edit
[core]
  editor = nvim
  filemode = true
[pager]
  ; log = diff-highlight | less
  ; show = diff-highlight | less
  ; diff = diff-highlight | less
[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[diff]
  compactionHeuristic = true
[init]
  defaultBranch = main
[log]
  date = iso-local
